@import '../../styles/var';

.container { 
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        color: $textcolor;
        &::before {
            content: "< ";
            color: $accentcolor;
        }
        &::after {
            content: " />";
            color: $accentcolor;
        }
    }

    ul {
        display: flex;
        gap: 8px;
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.active {
    color: $accentcolor;
}