// Breakpoints
$sm: 576px; 
$md: 768px;
$lg: 992px;
$xl: 1200px;

$maxW: 940px;

$headingfont: 'Fira Sans Extra Condensed', sans-serif;
$paragraphfont: 'Lustria', serif;
$subtitlefont: 'Hind Guntur', sans-serif;

$richblack: #11121B;
$bgblue: #1F2233;
$blue1: #313550;
$blue2: #2B2D44;
$textcolor: #F8F2F0;
$textcolor_darker: #d8d3d1;



$primary: #EF233C;

$primary-l1: #EF233C;
$primary-l1: #f14156;
$primary-l1: #f47180;

$primary-d1: #be0e23;
$primary-d2: #8e0b1a;
$primary-d3: #5f0711;

$accentcolor: $primary;

$bggradient: linear-gradient(180deg, #1D1E2B 0%, #11121B 100%);


@keyframes fadeInUp {
    from {
        opacity: 0.3;
        transform: translate3d(0,20px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes constantFlash {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}