// Breakpoints
$sm: 576px; 
$md: 768px;
$lg: 992px;
$xl: 1200px;


$headingfont: 'Fira Sans Extra Condensed', sans-serif;
$paragraphfont: 'Lustria', serif;
$subtitlefont: 'Hind Guntur', sans-serif;

$richblack: #11121B;
$bgblue: #1F2233;
$blue1: #313550;
$blue2: #2B2D44;
$textcolor: #F8F2F0;
$accentcolor: #EF233C;

$bggradient: linear-gradient(180deg, #1D1E2B 0%, #11121B 100%);